body {
  background-color: #17181c;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.header {
  color: #fff;
  width: 100%;
  height: 5vh;
  background-color: #17181c;
  text-align: center;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  margin: 0.5rem 0;
}
.header span {
  transition-duration: 0.3s;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  display: inline-flex;
  align-items: center;
  border: 0.25rem solid #17181c;
  opacity: 0.5;
}
.header span a {
  transition-duration: 0.3s;
}
.header span:hover:nth-child(1) {
  border-color: #ff7f82;
  transform: scale(1.1);
}
.header span:hover:nth-child(1) a {
  color: #ff7f82;
}
.header span:hover:nth-child(2) {
  border-color: #ffa260;
  transform: scale(1.1);
}
.header span:hover:nth-child(2) a {
  color: #ffa260;
}
.header span:hover:nth-child(3) {
  border-color: #e4cb58;
  transform: scale(1.1);
}
.header span:hover:nth-child(3) a {
  color: #e4cb58;
}
.header span:hover:nth-child(4) {
  border-color: #8fc866;
  transform: scale(1.1);
}
.header span:hover:nth-child(4) a {
  color: #8fc866;
}
.header span:hover:nth-child(5) {
  border-color: #19bc8b;
  transform: scale(1.1);
}
.header span:hover:nth-child(5) a {
  color: #19bc8b;
}
.header span:hover {
  border: 0.25rem solid #19bc8b;
  background: #17181c;
  opacity: 1;
}
a {
  color: #fff;
  text-decoration: none;
}

.profile {
  color: #fff;
  background-color: #17181c;
}
.profile .profileBlock {
  border: 0.5rem solid #ff7f82;
  padding: 1rem;
  margin: 1rem auto;
  width: 90vw;
}
.profile .profileBlock p {
  padding: 1.5rem;
  margin: 1.5rem;
  background-color: #22242a;
  color: #CCC;
}
.profile .profileBlock .multicolWrapper {
  display: flex;
}
.profile .profileBlock:nth-child(1) {
  border-color: #ff7f82;
}
.profile .profileBlock:nth-child(1) strong {
  color: #ff7f82;
}
.profile .profileBlock:nth-child(1) .readMoreWrapper .fa {
  color: #ff7f82;
}
.profile .profileBlock:nth-child(2) {
  border-color: #ffa260;
}
.profile .profileBlock:nth-child(2) strong {
  color: #ffa260;
}
.profile .profileBlock:nth-child(2) .readMoreWrapper .fa {
  color: #ffa260;
}
.profile .profileBlock:nth-child(3) {
  border-color: #e4cb58;
}
.profile .profileBlock:nth-child(3) strong {
  color: #e4cb58;
}
.profile .profileBlock:nth-child(3) .readMoreWrapper .fa {
  color: #e4cb58;
}
.profile .profileBlock:nth-child(4) {
  border-color: #8fc866;
}
.profile .profileBlock:nth-child(4) strong {
  color: #8fc866;
}
.profile .profileBlock:nth-child(4) .readMoreWrapper .fa {
  color: #8fc866;
}
.profile .profileImage {
  padding: 1rem;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  margin: 0 auto;
  display: block;
  transition-duration: 0.3s;
}
.readMoreWrapper {
  float: right;
}
.readMoreWrapper:hover .fa_inner {
  max-width: 9rem;
}
.readMoreWrapper .fa {
  vertical-align: center;
  font-size: 200%;
}
.readMoreWrapper .fa_inner {
  max-width: 0;
  -webkit-transition: max-width 1s;
  transition: max-width 1s;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
}

.footer {
  margin-bottom: 1rem;
}
.footer .socialMedia {
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
}
.footer .socialMedia a {
  color: #2d3039;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.25rem solid #17181c;
  transition-duration: 0.3s;
  opacity: 1;
  width: 3rem;
  height: 3rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
.footer .socialMedia a:hover {
  color: #fff;
  opacity: 1;
  transform: scale(1.1);
}

/*# sourceMappingURL=main.css.map */
